p{
    background-color: red;
    color: white;
}
a{
    background-color: red;
    color: white;
}
div{
    background-color: red;
    color: white;
}
span{
    background-color: red;
    color: white;
}